<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>com-danmu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B21C215F1DF98B580060F521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B21C21781DF98B580060F521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B21C21831DF98B580060F521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
